/* mobile first design*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    margin-top: 1rem;
    font-size: 16px;
}

#title {
    text-transform: uppercase;
    font-family: Monserrat, fantasy;
    font-size: 3.5rem;
    text-align: center;
    background: blue;
}

#title-main {
    background: red;
    border-left: 1.5rem solid blue;
    border-right: 1.5rem solid blue;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

#title-sub {
    color: white;
    line-height: 3rem;
    font-size: 1.5rem;
}

#img-container-marios {
    overflow-x: scroll;
    position: relative;
}

#image {
    width: 150%;
}

#img-caption {
    font-weight: 800;
    text-align: center;
    font-size: 1.25rem;
}

hr {

}

h3 {
    text-align: center;
}

.game {
    background: lightblue;
    margin: 10px 0;
    padding: 10px;
}


/* width 600px and up */
@media (min-width: 600px) {
    #main {
        max-width: 800px;
        margin: 1rem auto 0;
    }
}